<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAKma7kn3gXRX2rVKxGbXqPrjZLlZj-UsM</string>
	<key>GCM_SENDER_ID</key>
	<string>106833364460</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.b1n.h0t41task4r</string>
	<key>PROJECT_ID</key>
	<string>app371-93d08</string>
	<key>STORAGE_BUCKET</key>
	<string>app371-93d08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:106833364460:ios:c15712592ca24bb0b62cc9</string>
</dict>
</plist>